# =========================
# Python
# =========================

# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# =========================
# Node / React
# =========================

node_modules/
dist/
.vite/

# =========================
# Environment variables
# =========================

.env
.env.*
!.env.example

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# IDE
# =========================

.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db
